* {
  box-sizing: border-box;
}

body {
  padding: none !important;
  background: #fafafa;
  position: relative;
}

#nav {
  background-color: blueviolet;
}

/* TOPNAV  */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 20vw;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: blueviolet;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


.nav-icons {
  color: rgb(235, 235, 235);
  z-index: 2;
  text-align: center;
  font-size: 30px;
}

/*Image card*/

.demo-card-image.mdl-card {
  width: 100vw;
  background-position-y: 12%;
  background: url("https://i.pinimg.com/originals/ba/8a/d6/ba8ad61e02a2986d591390953fb3eba8.jpg") center / cover;
}

.demo-card-image > .mdl-grid {
  width: 100%;
  height: 150px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.mdl-card__title {
  padding: 0;
}

.mdl-card__title-text {
  margin: 0;
  color: #eee;
  padding: 0;
  font-size: 32px;
  font-weight: 500;
}

.mdl-card__supporting-text {
  padding: 0;
  color: #ccc;
}


/*Botao*/
.mdl-chip {
  color: whitesmoke;
  background-color: blueviolet;
}

.chips {
  margin-top: 1vh;
  padding-left: 3px;
}



.section-title {
  margin-top: 20px;
  font-size: 14px;
  padding: 0;
}

.section-name {
  margin: 0px;
  padding-left: 10px;
  font-weight: 600;
}

.section-more {
  margin: 0px;
  padding: 0;
  color: purple;
  text-align: right;
}

/* livos */


.books-container {
  display: flex;
}
.book-card {
  width: 30vw;
}

.book-cover {
  margin: 5px;
}

.book-cover > img {
  max-width: 100%;
}

.book-title {
  color: #222;
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
}

.book-author {
  color: #444;
  padding: 5px;
}

.price {
  color: #646;
  text-align: right;
}


.demo-card-wide.mdl-card {
  width: 110px;
  display: inline-block;
  margin: 10px;
  margin-left: 2px !important;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("https://getmdl.io/assets/demos/welcome_card.jpg") center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}



.autores {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  float: left;
  padding: 10px;
}

figcaption {
  float: left;
}
